<center><p>Player 2, what is your name?</p></center>

<center><form action = "opponent_name" method = "post"> 
  <input type = "text" name = "opponent_name">
  <input type = "submit">
</form></center>