<center><h3>"Welcome to Tic-Tac-Toe"</h3></center>

<center><p>What is your name?</p></center>

<center><form action = "name" method = "post"> 
  <input type = "text" name = "user_name">
  <input type = "submit">
</form></center>